body {
    font-family: 'Arial', sans-serif;
    background-color: #add8e6; /* Light blue background */
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    margin: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    word-wrap: break-word;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #add8e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #87ceeb;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

li {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    p {
        font-size: 1em;
        margin-bottom: 15px;
    }

    button {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}
